
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Conclusão</title>
</head>
<body>
    <h1>Página final</h1>
    <p>Bem-vindo à página Conclusão!</p>
</body>
</html>
<!-- views/home.ejs -->
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Bem-vindo ao Meu Site</h1>
        <p class="lead">Um site simples construído com Node.js e Bootstrap.</p>
    </div>
</div>
