body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #000000;
}

p {
    color: #000000;
}
/* public/style.css */

body {
    padding: 20px;
    background-color: #474747; /* Substitua pela cor desejada */
}

/* Outras regras de estilo... */
